# Python
__pycache__/
__init__.py
venv/

#Testing
.pytest_cache
*.tmp*

#Installing & Building
build/
dist/
*.toml
phylab.egg-info/

# Latex typesetting in README.md
readtex.md
readpypi.md
